$InputColor: lighten(rgb(61, 96, 212), 42%);


.profile-wrapper{
    padding: 2rem;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
    margin: 2rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    // gap: 3rem;
}

.profile-wrapper > *:not(:first-child) {
  margin-bottom: 3rem;
}

.profile-pic-container{
    display: flex;
    flex-direction: column;

}

.profile-pic-container input{
    font-size: .75rem;
    background-color: white;
}

.profile-name-container{
    display: flex;
    flex-direction: column;
}

.profile-el{
    background-color: rgb(204, 203, 203);
    padding: .25rem;
    border-radius: 5px;
}

.back-home-btn{
    margin-bottom: .5rem;
}


// .profile-name{
//     background-color: InputColor;
//     padding: 1rem;
//     width: 60%;
// }